<% model_class = @messages.klass %>
<h1><%= model_class.model_name.human.pluralize %></h1>
<%= link_to "New Message", new_message_path %>
  <table>
    <thead>
      <tr>
        <% model_class.attribute_names.each do |attr_name| %>
          <th><%= attr_name.humanize %></th>
        <% end %>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @messages.each do |message| %>
        <tr>
          <% model_class.attribute_names.each do |attr_name| %>
            <td><%= message.send(attr_name) %></td>
          <% end %>
          <td>
            <%= link_to 'Show', message %>
            <%if can? :edit, message%>
              <%= link_to 'Edit', edit_message_path(message) %>
            <%end%>
            <%if can? :delete, message%>
              <%= button_to "Delete", message_path(message), method: :delete, form: { data: { turbo_confirm: "Are you sure?" } },
                class: "btn btn-outline-danger btn-sm" %>
            <%end%>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>