<% model_class = @message.class %>
<% model_name_human = model_class.model_name.human %>

<h1><%= model_name_human %> Details</h1>

<dl>
  <% model_class.attribute_names.each do |attr_name| %>
    <dt><strong><%= attr_name.humanize %>:</strong></dt>
    <dd><%= @message.send(attr_name) %></dd> 
  <% end %>
</dl>

<div>
  <%= link_to "Edit #{model_name_human}", edit_message_path(@message), class: 'btn btn-primary' %>
  <%= link_to "Back to All #{model_name_human.pluralize}", messages_path, class: 'btn btn-secondary' %>
</div>