<%= form_with(model: chat, local: true) do |form| %> 
  <% if chat.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(chat.errors.count, "error") %> prohibited this chat from being saved:</h2>
      <ul>
        <% chat.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3"> 
    <%= form.label :receiver_id, class: "form-label" %>
    <%= form.collection_select :receiver_id, @users, :id, :display_name, { prompt: 'Select Receiver' }, { class: "form-select" } %>
  </div>

  <div class="field mb-3">
    <%= form.text_area :initial_message_content, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>