<% model_class = @chats.klass %>
<%= link_to "New Chat", new_chat_path %>
<h1><%= model_class.model_name.human.pluralize %></h1>
  <table>
    <thead>
      <tr>
        <% model_class.attribute_names.each do |attr_name| %>
          <th><%= attr_name.humanize %></th>
        <% end %>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @chats.each do |chat| %>
        <tr>
          <% model_class.attribute_names.each do |attr_name| %>
            <td><%= chat.send(attr_name) %></td>
          <% end %>
          <td>
            <%= link_to 'Show', chat %>
            <%if can? :edit, chat%>
              <%= link_to 'Edit', edit_chat_path(chat) %>
            <%end%>
            <%if can? :delete, chat%>
              <%= button_to 'Delete', delete_chat_path(chat) %>
            <%end%>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>