<% model_class = @chats.klass %>
<%= link_to "New Chat", new_chat_path %>
<h1><%= model_class.model_name.human.pluralize %></h1>
  <table>
    <thead>
      <tr>
        <% model_class.attribute_names.each do |attr_name| %>
          <th><%= attr_name.humanize %></th>
        <% end %>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @chats.each do |chat| %>
        <tr>
          <% model_class.attribute_names.each do |attr_name| %>
            <td><%= chat.send(attr_name) %></td>
          <% end %>
          <td>
            <%= link_to 'Show', chat %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>