<% model_class = @chat.class %>
<% model_name_human = model_class.model_name.human %>

<h1><%= model_name_human %> Details</h1>

<dl>
  <% model_class.attribute_names.each do |attr_name| %>
    <dt><strong><%= attr_name.humanize %>:</strong></dt>
    <dd><%= @chat.send(attr_name) %></dd> 
  <% end %>
</dl>
<ul class = "list-group">
  <li>
    <%@chat_messages.each do |message| %>
    <strong><%= message.user.try(:first_name) || "User ##{message.user_id}" %>:</strong>
          <%= sanitize(message.body) %> 
          <br>
    <%end%>
  </li>
</ul>
<%= link_to "Edit #{model_name_human}", edit_chat_path(@chat), class: 'btn btn-primary' %>
  <%= link_to "Back to All #{model_name_human.pluralize}", chats_path, class: 'btn btn-secondary' %>